* {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    /* border: 1px white solid; */
}

input,
textarea,
button,
select {
    font-family: inherit;
}




.rem2 {
    font-size: 2rem;
}




.home-icon:hover,
.burger-icon:hover,
.icon:hover {
    stroke: #17c1ff;
    stroke-width: 0.5px;
    transform: translateX(30px) scale(1.3);
    transition-duration: 0.5s;
    border-color: #17c1ff;
    filter: drop-shadow(2px 2px 10px 10px #17c1ff);
}

.navbar-header {
    float: top;
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #333;
    z-index: 100;
    gap: 10rem;
    padding-left: 20px;
    /* Add a z-index to ensure it appears above other elements if necessary */
}

.home-icon {
    z-index: 1;

}

.burger-icon,
.dropdown-burger {
    z-index: 0;
    display: none;
}


.burger-icon .dropdown-menu {
    /* position: absolute; */
    top: 100%;
    left: 0;

    /* Zajistěte, aby dropdown byl nad ostatními prvky */
}



@media (max-width: 768px) {

    .row.d-flex.flex-row.flex-wrap {
        flex-direction: column;
    }

    .col-5 {
        width: 100%;
    }

    .col-12 {
        width: 100%;
    }



    .home-icon {
        display: none;
    }

    .burger-icon,
    .dropdown-burger {
        display: inline-block;
        margin: 0;
    }

    .navbar li {
        display: none;

    }

    .navbar-header {
        padding-left: 10px;
        gap: 10px;
    }



    #accordion>* {
        margin: 0 auto;
        justify-content: center;
        justify-items: center;
    }

    .accordion {

        margin: 0 auto;
    }

    .carousel-inner {
        margin-top: 200px;
    }

    .footer>* {

        height: 100px;
        width: 100%;
        background-color: #00678c;
        font-size: 1.5rem;
    }


    .sr-only {
        font-size: 1.4rem !important;
    }


    .history-articles>.col-3 {
        margin: 0 auto;
    }

    .history-articles article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: justify;
    }

    .history-articles img {
        display: none;

    }

    .col {
        margin: 0 auto;
    }

    .modal,
    .modal-content,
    .modal-body,
    .modal.show,
    .form-style,
    .video-modal,
    .card,
    .card-body {
        height: 100% !important;
        width: 100% !important;
        margin: 0 auto !important;
    }

    .btn {
        width: 100% !important;
        margin: 0 auto !important;
    }

    .border-left {
        border: none !important;
        box-shadow: none !important;
    }



    footer .text-body-secondary {
        font-size: 1.4rem;
    }
}

.navbar-header>* {
    column-gap: 3rem;

    list-style-type: none;
    font-size: 2rem;
}


#bg-image {
    width: 100%;
    height: 100%;
    right: 0;
    z-index: -100;
    position: relative;
    object-fit: cover;

}



.accordion button {
    font-size: 2rem;
}




.card-body {

    height: 560px;

    position: relative;
    min-width: 250px;
}

table,
tr,
th {

    padding: 5px;
    margin: 10px;
    text-align: center;
}

table,
th {
    border: 1px solid #00678c;

}

th:nth-child(2) {
    border: transparent;
}

tr {

    border-left: 1px solid #00678c;
}

.card img {
    width: 90%;

    min-width: 60%;
}

.card-body .btn-buy {

    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    border-color: #17c1ff;
    background-color: #00678c;
    color: #17c1ff;
    margin: 0 auto;

}

.card-body .btn-buy:hover {

    transform: scale(1.03) translateY(2px);
    box-shadow: 2px 2px 20px 5px #17c1ff;
    transition-property: transform, box-shadow;
    transition-duration: 0.2s, 0.2s;
    border-radius: 5px;
    border-color: #17c1ff;
    background-color: #00678c;
    color: #17c1ff;
    font-size: 2.1rem;



}

.border-left {
    border-left: 2px solid #17c1ff;

    box-shadow: -5px 0px 5px -3px #17c1ff;
}

.carousel-indicators li {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgba(0, 56, 109, 0.806);
    margin: 0 20px;
}

.carousel-indicators .active {
    background-color: rgb(0, 106, 255);
}

.card {
    border-radius: 0;
    border-color: #17c1ff;
    box-shadow: 2px 2px 10px 1px #17c1ff;
    background-color: #00678c15;
    color: #00678c;
    max-width: 470px;


}

.card hr {
    color: #00678c;

}

/* objednávková karta */
.accordion-button {

    width: 550px;
    border-color: #17c1ff;
    color: #00d9ff;
    background-color: #00678c15;
    /* overridnutí after-click shadowu u accordionu */

    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.15rem #17c1ff;
}

.accordion-button[aria-expanded="true"] {

    background-color: #00678c15;
    color: #17c1ff;
}

.card-title {
    font-size: 1.4rem;
}

.accordion-body {
    width: 90%;
}

.heading-h1 {
    color: rgb(0, 96, 128);
    opacity: 0.9;
    width: 400px;

}

.heading-h1 h1 {

    font-size: 3rem;
    font-weight: 800;
}

.hr-style {
    position: relative;
}

.hr-style:after {
    content: "";
    top: -4px;
    left: -2rem;
    width: 400px;
    height: 10px;
    position: absolute;
    background-color: aqua;
    box-shadow: 2px 2px 10px 1px #17c1ff;
}


.history-articles>.col-3 {
    margin: 0 auto;
}

.history-articles>* {

    min-width: 300px;
}

.history-articles {
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: justify;

}


.history-articles img {
    width: 400px;
}



.font-1 {
    min-width: 200px;
    padding-top: 30px;
    font-family: 'Caprasimo', cursive;
}

.font-2 {
    min-width: 200px;
    font-family: 'Martian Mono', monospace;
}



#modalLabel {
    font-size: 2rem;
    border-radius: 20px;
    color: #00678c;
}

.close {
    background-color: transparent;
    text-align: center;
    font-size: 3rem;
    padding-right: 20px;
    border: none;
    color: #00678c;
}

.form-style {

    border: 1px solid;
    border-radius: 20px;
    border-color: #17c1ff;
    color: #00678c;
    background-color: #00678c15;

    box-shadow: 2px 2px 10px 1px #17c1ff;
}

.form-style>* {
    margin: 10px;
}

.form-style label {
    font-size: 1.7rem;

}

.form-style input:focus {
    border-color: #17c1ff;
    box-shadow: 2px 2px 10px 1px #17c1ff;
}

#gridCheck {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.required {
    color: blue;

}

.btn-primary {
    width: 300px;
}


.modal-dialog {
    --bs-modal-width: 1500px;
    --bs-modal-zindex: -1080;
    margin: 0 auto;

}

.modal-content {
    width: 1000px;
    height: 800px;
}

.modal {
    --bs-modal-zindex: 1056;


}

#modal-formID {
    --bs-modal-zindex: 1055;
}




.sr-only {
    color: rgb(1, 0, 9);
    font-size: 1.5rem;
    font-weight: 1000;

}

.carousel-item {

    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.carousel-item.active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}



.carousel-caption h5 {

    color: white;
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: 500;

}

.carousel-caption p {

    color: white;

    font-size: 1rem;


}

.carousel-caption {
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgba(56, 70, 105, 0.642);
    width: 200px;
    border-radius: 30px;
    height: 120px;

}



.footer {
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: #00678c;
    font-size: 2rem;
}